body {
    background-image: url("https://i.pinimg.com/originals/8c/d0/a7/8cd0a7dd98109ad4554e9ab62171435b.jpg");
    background-size: cover;
    background-position: top;
    background: cover;
    background-repeat: no-repeat;
}

.principalCardContainer {

    margin-top: 7vh;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsContainer {
    justify-content: space-between;
    margin-top: 3vh;
}

.navBar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4158d0;
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}

.aboutButton {
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
}

.aboutButton:hover {
    color: white;
    text-decoration: none;
}

.logo {
    height: 10vh;
    margin: 0;
    display: inline;
}
