@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:wght@300&display=swap');

p{
	font-size: 3vh;
	color: white;
	font-family: 'Bakbak One', cursive;
font-family: 'Roboto', sans-serif;
}

.temperature, .name{
font-size: 5vh;
}

.name{
	margin-bottom: -2vh;
}

.image{
	height: 20vh;
	margin-bottom: -20px;
}

.container{
	width: 25%;
	background-color: black;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.temp{
	display: inline;
	margin: 1rem;
}

.tempContainers{
	margin: 0 auto;

	border-top: 1px solid white;
	width: 70%;
}

.weather{
	margin-top: 5%;
}

.generalInfo{
	display: inline;
	font-size: 2vh;
	margin: 0.5vw;
	margin-top: 0.5vw;
	white-space: nowrap;
}

.generalInfoContainer{
display: inline-grid;
}

